[Unit]
Description=CopyQ Clipboard Manager

[Service]
Type=simple
ExecStart=/usr/bin/copyq
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
