#!/bin/sh

# source /etc/X11/xinit/xinitrc.d
if [ -d /etc/X11/xinit/xinitrc.d ]; then
    for f in /etc/X11/xinit/xinitrc.d/*; do
        [ -x "$f" ] && . "$f"
    done
    unset f
fi

# settings
xrdb -load "$HOME/.Xresources"
xsetroot -solid "#191A15"
xsetroot -cursor_name left_ptr

# same as refresh-keyboard
xmodmap "$HOME/.Xmodmap"
xset r rate 200 50
numlockx on

# autostart
parcellite -d &
# redshift -l "48.20849:16.37208" &
# show-no-connman-con --font "/usr/share/fonts/microsoft/consola.ttf" &
