# refresh-keyboard when any keyboard is attached
ACTION=="add", SUBSYSTEM=="input", ENV{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/bin/lazy-user-session-bus send-all refresh-keyboard"
